/* === Buttons === */
.button{
	display: inline-block;
	line-height: 48px;
	padding: 0 25px;
	text-align: center;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	position: relative;
	background-color: #583787;
	color: #fff;

	@include transition(all, 0.25s);

	&:hover{
		background: #482B75;
		@include transition(all, 0.25s);
	}

	&.orange{
		background-color: #f5c23e;
		color: #583787;

		&:hover{
			background-color: darken(#f5c23e, 5%);
		}
	}

	&.arrow{
		padding: 0 75px 0 25px;

		&:before{
			content: '';
			width: 25px;
			height: 25px;
			display: block;
			margin-top: -13px;
			position: absolute;
			top: 50%;
			right: 25px;
			background: url('../img/btn-arrow.svg') no-repeat center center transparent;
			background-size: 100% auto;
		}
	}

	&.wide{
		padding: 0 60px;
	}
}
