/* === Buttons === */
.button{
	display: inline-block;
	line-height: 48px;
	padding: 0 25px;
	text-align: center;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;
	position: relative;
	background-color: #583787;
	color: #fff;

	@include transition(all, 0.25s);

	&:hover{
		background: #482B75;
		@include transition(all, 0.25s);
	}

	&.orange{
		background-color: #f5c23e;
		color: #583787;

		&:hover{
			background-color: darken(#f5c23e, 5%);
		}
	}

	&.no-bg{
		background-color: transparent;
		color: #583787;
	}

	&.wide{
		padding: 0 60px;
	}
}
