/* === Form === */
form{
	position: relative;

	.form-elem{
		display: block;
		position: relative;
		margin-bottom: 20px;
	}

	input[type="text"],
	input[type="email"],
	input[type="password"],
	textarea{
		width: 100%;
		position: relative;
		border: 2px solid #563486;
		margin: 0;
		font-size: 16px;

		&:focus{
			outline: none;
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="password"]{
		line-height: 45px;
		padding: 0 10px;
	}

	textarea{
		padding: 10px 10px 35px;
		min-height: 180px;
		border-top: none;
		border-bottom: none;

		& + small{
			font-size: 12px;
			display: block;
			position: absolute;
			bottom: 0px;
			right: 0px;
			left: 0px;
			height: 30px;
			width: auto;
			line-height: 30px;
			padding: 0 12px 0 0;
			text-align: right;
			background-color: #fff;
			color: #aaa;
			border-right: 2px solid #563486;
			border-bottom: 2px solid #563486;
			border-left: 2px solid #563486;

			&.hide{
				display: none;
			}
		}
	}

	button{
		border: none;
	}

	input[type="checkbox"]{
		width: 1px;
		height: 1px;
		margin: 0;
		padding: 0;
		opacity: 0;
		visibility:hidden;
		position: absolute;

		& + label {
			display: table;
			position: relative;
			background: transparent;
			padding-left: 30px;
			margin: 0 0 20px;
			line-height: 1.25em;
			font-size: 14px;
		}

		& + label:before {
			content: '';
			width: 16px;
			height: 16px;
			border: 2px solid #563486;
			position: absolute;
			left: 0;
			top: -1px;
		}

		& + label:after {
			content: '';
			width: 0px;
			height: 0px;
			border-bottom: 0px solid #563486;
			border-left: 0px solid #563486;
			position: absolute;
			left: 9px;
			top: 8px;

			-webkit-transform:	rotate(-45deg);
			-moz-transform: 	rotate(-45deg);
			-ms-transform: 		rotate(-45deg);
			transform: 			rotate(-45deg);

			@include transition(all, 0.1s);
		}

		&:checked + label:after {
			width: 10px;
			height: 5px;
			border-bottom-width: 2px;
			border-left-width: 2px;
			left: 4px;
			top: 4px;
		}
	}

	label a{
		font-weight: 700;
		text-decoration: none;
		color: #563486;
	}
}
