/* === Game large suitcase === */
.part-play-large{
	background-image: url('../img/bg/bg-2.jpg');

	section.container{
		padding: 0;
	}

	.suitcase-large{
		display: block;
		position: absolute;
		bottom: 40px;
		left: -180px;
		width: 941px;
		height: 810px;
		background: url('../img/suitcase-large.png') no-repeat center center transparent;

		&:before{
			content: '';
			width: 190px;
			height: 179px;
			display: block;
			background: url('../img/blob-small.png') no-repeat center center transparent;
			position: absolute;
			right: 0;
			top: 100px;
			z-index: -1;
		}

		@include transition(all, 0.5s);

		@include desktop{
			left: -100px;
		};

		@include widescreen{
			left: 0;
		};

		.inner{
			display: block;
			width: 610px;
			height: 458px;
			border-radius: 25px;
			background-color: tomato;
			position: absolute;
			left: 220px;
			bottom: 92px;
		}
	}

}
