/* === Oferta === */
.part-oferta{
	background-image: url('../img/bg/bg-2.jpg');

	.blob{
		position: absolute;
		display: block;
		bottom: -30px;
		left: -50px;

		@include rotate(-40deg);
	}
	.hat{
		display: block;
		position: absolute;
		left: -220px;
	}
}
