/* === Save result === */
.part-save-result{
	background-image: url('../img/bg/bg-2.jpg');

	.blob{
		position: absolute;
		display: block;
		bottom: -30px;
		left: -50px;

		@include rotate(-40deg);
	}
	.hat{
		display: block;
		position: absolute;
		left: -220px;
	}

	h2{
		margin-bottom: 14px;
		display: block;
	}

	.form-wrap{
		position: relative;
		margin-top: 2.5rem;
	}

	.has-offset{
		margin-left: 35%;
	}

	.textarea{
		position: relative;

		label{
			padding: 20px 25px;
			margin: 0;
			display: block;
			color: #fff;
			background-color: #563486;
		}
	}
}
