.meloriac{ font-family: 'Meloriac';}
.opensans{ font-family: 'Open Sans';}

.size48{ font-size: 48px;}
.size72{ font-size: 72px;}

.lh-1{ line-height: 1em;}


h1, h2, h3{
	line-height: 1em;
}

h1{
	display: block;
	font-size: 3.25rem;
	margin-bottom: 1.75rem;
}

h2{
	font-size: 68px;
	margin: 1.825rem 0;
}
